[Desktop Entry]
Name=Omniget
Comment=Download media from multiple platforms
Exec=omniget
Icon=wtf.tonho.omniget
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=download;video;media;udemy;hotmart;youtube;telegram;
StartupWMClass=omniget
